.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 .image-container{
  animation: SlideIn 2s;
}

@keyframes SlideIn {
  0%{
    transform: translateX(500%);
  }
  100%{
    transform: translateX(100);
  }
}

.left-info{
  animation: Slidein 2s;
}

@keyframes Slidein {
  0%{
    transform: translateX(-500%);
  }
  100%{
    transform: translateX(100);
  }
}

.spinner{
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.fade-in{
  animation : FadeIn 2s;
}

@keyframes FadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.slideslide {
  animation : slidedown 2s;
}

@keyframes slidedown 
{
  0%{
    transform: translateY(500%);
  }
  100%{
    transform: translateY(100);
  }
  
}
.spinners{
  animation: logospin 2s;
}

@keyframes logospin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}